body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #333 !important;
}

.navbar .nav-link {
    color: #fff !important;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-toggler{
    filter: invert(1);
}

.hero-image {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #353438 !important;
}

footer{
    font-family: 'Roboto Condensed', sans-serif;
    border-top: 1px solid #e0e0e0 !important; /* Subtle border */
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
}

.meta-about {
    font-style: italic;
}